*{
	margin: 0;
	padding: 0;
	box-sizing:border-box ;
}
body{

	background-image: url(../assets/image/fondo2.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
canvas{

	border:4px solid rgb(105, 137, 205) ;

}

.botones{
margin: 30px;

}
button{
padding: 15px;
border-radius: 15px;
background-color: darkgray;
justify-content: space-between;


}
.none{
	display: none !important;
}
.gameOver{

	width: 100vw;
	height: 100vh;
	background-image: url("../assets/image/final.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gameOver button:hover{
	background-color: black;
	color: azure;
	border: 1px solid white;
	

}
.gameWin{
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/image/finalfeliz.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items:center;
	justify-content: center;
}
.gameWin h1{
	align-content: space-around;
	color: azure;
}